@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimage{
    background-image: url('.././public/assets/Rectangle\ 297.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }